layout {

    focus-ring {
        active-color   "#d7827e"
        inactive-color "#fffaf3"
        urgent-color   "#b4637a"
    }

    border {
        active-color   "#d7827e"
        inactive-color "#fffaf3"
        urgent-color   "#b4637a"
    }

    shadow {
        color "#faf4ed70"
    }

    tab-indicator {
        active-color   "#d7827e"
        inactive-color "#e5cdcc"
        urgent-color   "#b4637a"
    }

    insert-hint {
        color "#d7827e80"
    }
}

recent-windows {
    highlight {
        active-color "#d7827e"
        urgent-color "#b4637a"
    }
}
