# from https://rust.cfdata.org/manage-deps/cloudflare-registry/fetching#local-setup-via-cargo-config
[registries.cf]
credential-provider = ["cargo:token-from-stdout", "cloudflared", "access", "login", "--app=access.rust.cfdata.org"]
index = "sparse+https://freighter.rust.cfdata.org/index/"
